@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
	/* Universal Selector. Applies this code to everything. */

	box-sizing: border-box; /* If we apply any padding or border to an element, it doesn't effect the width */
}
body {
	background-color: #000000;
	color: white;
	font-family: "Roboto Mono", sans-serif;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	display: flex;
	margin: 0;
}

.counter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 30px 50px;
}

.counter {
	font-size: 60px;
	margin-top: 10px;
}

@media (max-width: 580px) {
	body {
		flex-direction: column;
	}
}
